{% extends 'base.html' %}


{% block content %}
<div class="row">
	<nav class="navbar navbar-expand-lg navbar-light">
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav ml-md-auto">

	        <li class="nav-item">
	        	<form method="POST">
					<button class="btn nav-link" type="submit"> &#9282; Clone</button>
				</form>
	        </li>
	        
	        <li class="nav-item">
				<button class="btn">
					<a style="text-decoration: none; color:red;" href="/repository/delete?reponame={{ reponame }}">  &#x1F5D1; Delete  </a>
				</button>
	        </li>
	        

	      </ul>
	    </div>
  	</nav>
</div>

	
<div class="row" style="margin-top: 10px;">
	<div class="col-sm-2"></div>					

	<div class="col-sm">
		<!-- Repository Sectio-->	
		<h5 style="margin-bottom: 20px;">Repositiory File Structure</h5>
		
		<pre>{{ tree }}</pre>
	</div>


	<div class="col-sm-2"></div>					

</div>


{% endblock %}